<div class="table-container">
    <div class="table-container-inner">
        <table class="table" ng-controller="scheduleController">
            <thead>
                <th class="hour">godz.</th>
                <th ng-repeat="day in commonData.days track by $index" class="day-name">{{ day }}</th>
            </thead>
            <tbody>
            <tr ng-repeat="(hour, list) in data.classes" class="schedule-row">
                <td>{{ hour }}</td>
                <td ng-repeat="class in list track by $index">
                    <div ng-if="class != null ">
                        <div class="panel panel-default">
                            <div class="panel-heading text-center">{{ class.class_in_schedule.class_type.name }}
                            </div>
                            <div class="panel-body text-center">
                                <div class="progress">
                                    <div ng-show="class.attendees.length < 8"
                                         class="progress-bar progress-bar-success progress-bar-striped"
                                         role="progressbar"
                                         aria-valuenow="{{ class.attendees.length }}" aria-valuemin="0"
                                         aria-valuemax="14" style="width:{{ class.attendees.length * 7.14}}%">
                                        <span style="color: black">{{ class.attendees.length }}/14</span>
                                    </div>
                                    <div ng-show="class.attendees.length >= 8"
                                         class="progress-bar progress-bar-warning progress-bar-striped"
                                         role="progressbar"
                                         aria-valuenow="{{ class.attendees.length }}" aria-valuemin="0"
                                         aria-valuemax="14" style="width:{{ class.attendees.length * 7.14}}%">
                                        <span style="color: black">{{ class.attendees.length }}/14</span>
                                    </div>
                                </div>
                                <button type="button" ng-show="!storage.userData.isLoggedIn" class="btn btn-default"
                                        ng-click="openLoginDialog()">Zaloguj się
                                </button>
                                <button join-button attendees="class.attendees" class-id="{{ class.id }}"
                                        user-classes="userClasses"
                                        join-class="joinClass(class.id)" storage="storage"></button>
                                <button resign-button attendees="class.attendees" class-id="{{ class.id }}"
                                        user-classes="userClasses"
                                        cancel-class="cancelClass(class.id)" storage="storage"></button>
                                <button type="button"
                                        ng-show="storage.userData.isLoggedIn && !storage.userData.isValidMember"
                                        class="btn btn-default disabled" ng-click="openLoginDialog()">Nie posiadasz
                                    ważnego karnetu
                                </button>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>