.panel-default {
    margin-bottom: 0;
}

.bottom-spaced {
    margin-bottom: 4%;
}

table.fixed {
    table-layout: fixed;
}

.fixed-panel {
    min-height: 400px;
    max-height: 400px;
    overflow: auto;
}

.blurred-border-green {
    box-shadow: 0px 0px 9px 1px rgba(169,219,140,1);

}

.display-members-row {
    display: table;
}

.display-members-row.member-panel {
    float: none;
    display: table-cell;
    vertical-align: top;
}

th.day-name {
    width: 13.5%;
    text-align: center;
    padding-bottom: 4px;
}

.plan-head {
    width: 13.5%;
    text-align: center;
    padding-bottom: 4px;
}

.new-plan-head {
    width: 14.27%;
    text-align: center;
    padding-bottom: 4px;
}

.inline {
    display: inline;
}

.half-width {
    width: 50%;
}

td.plan-cell {
    width: 13.5%;
    text-align: center;
    padding-bottom: 4px;
}

th.hour {
    padding-bottom: 4px;
}

tr.schedule-row {
    height: 126px;
}

.table-container {
    overflow: hidden;
    width: auto;
}

.table-container-inner {
    overflow-x: auto;
}

.icon-green {
    color: #5CB85C;
}

div.red-border {
    border: 1px solid red;
}