<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Home Page</title>
    <link href="/static/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/Gym_app/styles/basic_styles.css" rel="stylesheet">
</head>
<body ng-app="schedule">
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#/">Grafik</a></li>
                <li><a href="#karnet">Karnet</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" placeholder="Email" class="form-control">
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Password" class="form-control">
                </div>
                <button type="submit" class="btn btn-success">Sign in</button>
                <a href="#register">
                    <button type="button" class="btn btn-success">Register</button>
                </a>
            </form>
        </div><!--/.navbar-collapse -->
    </div>
</nav>
<br>
<br>
<br>
<br>
<br>
<!--  !!!!!!!!!!!!!!!!!!!!!!!!!! -->

<div class="container">
    <div ng-view>
    </div>
</div>
<!--  !!!!!!!!!!!!!!!!!!!!!!!!!! -->
<script src="/static/lib/jquery-3.1.1.js"></script>
<script src="/static/lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.js"></script>
<script src="/static/lib/ui-bootstrap-tpls-2.2.0.js"></script>
<script src="/static/Gym_app/scripts/app.js"></script>
<script src="/static/Gym_app/scripts/registration/registrationApp.js"></script>
<script src="/static/Gym_app/scripts/session/sessionApp.js"></script>
<script src="/static/Gym_app/scripts/session/sessionDataService.js"></script>
<script src="/static/Gym_app/scripts/session/userInformationService.js"></script>
<script src="/static/Gym_app/scripts/session/uiVersionService.js"></script>
<script src="/static/Gym_app/scripts/session/loginService.js"></script>
<script src="/static/Gym_app/scripts/schedule/scheduleApp.js"></script>
<script src="/static/Gym_app/scripts/schedule/scheduleLoginController.js"></script>
<script src="/static/Gym_app/scripts/schedule/scheduleController.js"></script>
<script src="/static/Gym_app/scripts/schedule/scheduleHead.js"></script>
<script src="/static/Gym_app/scripts/schedule/scheduleBody.js"></script>
<script src="/static/Gym_app/scripts/registration/registrationController.js"></script>
</body>
</html>