<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Home Page</title>
    <link href="/static/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/Gym_app/css/basic_styles.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Grafik</a></li>
                <li><a href="#karnet">Karnet</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" placeholder="Email" class="form-control">
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Password" class="form-control">
                </div>
                <button type="submit" class="btn btn-success">Sign in</button>
            </form>
        </div><!--/.navbar-collapse -->
    </div>
</nav>
<br>
<br>
<br>
<br>
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th class="col-md-1 col-md-offset-1"></th>
            <th class="col-md-1 day">Poniedziałek</th>
            <th class="col-md-1 day">Wtorek</th>
            <th class="col-md-1 day">Środa</th>
            <th class="col-md-1 day">Czwartek</th>
            <th class="col-md-1 day">Piątek</th>
            <th class="col-md-1 day">Sobota</th>
            <th class="col-md-1 col-md-offset-1 day">Niedziela</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                9:00
            </td>
            <td>
                <div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Zumba
                        </div>
                        <div class="panel-body">
                            Godzina
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Zumba
                    </div>
                    <div class="panel-body">
                        Godzina
                    </div>
                </div>
            </td>
            <td>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Zumba
                    </div>
                    <div class="panel-body">
                        Godzina
                    </div>
                </div>
            </td>
            <td>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Zumba
                    </div>
                    <div class="panel-body">
                        Godzina
                    </div>
                </div>
            </td>
            <td>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Zumba
                    </div>
                    <div class="panel-body">
                        Godzina
                    </div>
                </div>
            </td>
            <td>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Zumba
                    </div>
                    <div class="panel-body">
                        Godzina
                    </div>
                </div>
            </td>
            <td>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Zumba
                    </div>
                    <div class="panel-body">
                        Godzina
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                10:00
            </td>
            <td>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Zumba
                    </div>
                    <div class="panel-body">
                        Godzina
                    </div>
                </div>
            </td>
            <td>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Zumba
                    </div>
                    <div class="panel-body">
                        Godzina
                    </div>
                </div>
            </td>
            <td>    <script src="/static/lib/jquery-3.1.1.js"></script>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        Zumba
                    </div>
                    <div class="panel-body">
                        Godzina
                    </div>
                </div>
            </td>
            <td>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Zumba
                    </div>
                    <div class="panel-body">
                        Godzina
                    </div>
                </div>
            </td>
            <td>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Zumba
                    </div>
                    <div class="panel-body">
                        Godzina
                    </div>
                </div>
            </td>
            <td>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Zumba
                    </div>
                    <div class="panel-body">
                        Godzina
                    </div>
                </div>
            </td>
            <td>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Zumba
                    </div>
                    <div class="panel-body">
                        Godzina
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="#">link to pop up</a>
</div>
<script src="/static/lib/jquery-3.1.1.js"></script>
<script src="/static/lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="/static/Gym_app/js/page_load.js"></script>
</body>
</html>